<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} My website{% endblock %}</title>
</head>
<body>
<header>
    <h1>{% block header %}Welcome to this website{% endblock %}
    </h1>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">HOME</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
    </ul>
</nav>
</header>
<main>
    {% block content %}{% endblock %}
<footer>
    <p>&copy;2024 emobilis</p>
</footer>
</main>
</body>
</html>